.navContainer {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 1rem;
    width: 68rem;
    margin-left: 23rem;
}

.userProfileContainer {
    width: 6rem;
    display: flex;
    background-color: #141414;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 1rem;

}

.navContainerFullWidth {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 1rem;
}

.jitsiLogoContainer {
    display: flex;

}

.jitsiLogo {
    color: #f8fafc;
    font-size: 2rem;
    font-weight: bold;
}

.userInitailName {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    text-align: center;
    background-color: #86efac;
}

.user-ProfileMain-div {
    position: relative;
}

.userNameContainer {
    display: flex;
    gap: 0.4rem;
    background-color: #0f172a;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    width: 5rem;
    position: absolute;
    top: 2.5rem;
    padding: 0.3rem;

}

.mainPageContainer {
    display: flex;
    justify-content: center;
    margin-left: 40rem;
    margin-top: 10rem;
    width: 18.75rem;
    height: 18.75rem;
    transform: translate(-50% -50%);
}

.mainpagecontainerWidth {

    display: flex;
    justify-content: center;
    margin-left: 50rem;
    margin-top: 10rem;
    width: 18.75rem;
    height: 18.75rem;
    transform: translate(-50% -50%);
}

.userNameMain {
    font-size: 5rem;
    background-color: #86efac;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    padding: 3rem;
    text-align: center;
}

.conferenceContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    flex-direction: column;
}

.conferenceToolBar {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    background-color: #141414;
    padding: 0.5rem;
    margin-left: 30rem;
    border-radius: 0.5rem;
    width: 35rem;

}

.toolbarBtns {
    background-color: transparent;
    border: none;
    color: #f8fafc;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.7rem;
    box-shadow: 0px 2px 8px 4px rgb(0 0 0 / 25%), 0px 0px 0px 1px rgb(0 0 0 / 15%);
}

.toolbarBtns:hover {
    background-color: #111827;
    border-radius: 0.5rem;

}

.conferenceToolBarWidth {
    display: flex;
    gap: 1.5rem;
    justify-content: center;

    background-color: #141414;
    padding: 0.5rem;
    margin-left: 40rem;
    border-radius: 0.5rem;
    width: 35rem;

}

.callEndBtn:hover,
.callEndBtn {
    background-color: red;

}