* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}


.main-container {
  display: flex;

}
.conferenceComponent {
  display: flex;
  gap: 10rem;
  align-items: center;
  height: 100%;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
.conferenceComponentFullWidth{
  display: flex;
  justify-content:center;
  width: 100%;
}
